<div class="dashboard-home">
  <div class="stats-grid">
    <div class="stat-card">
      <div class="stat-icon sujets-stat"></div>
      <div class="stat-info">
        @if (isLoadingStats()) {
          <h3 class="loading">...</h3>
        } @else {
          <h3>{{ totalSujets() }}</h3>
        }
        <p>Sujets</p>
      </div>
    </div>
    <div class="stat-card">
      <div class="stat-icon stagiaires-stat"></div>
      <div class="stat-info">
        @if (isLoadingStats()) {
          <h3 class="loading">...</h3>
        } @else {
          <h3>{{ totalStagiaires() }}</h3>
        }
        <p>Stagiaires </p>
      </div>
    </div>
    <div class="stat-card">
      <div class="stat-icon candidatures-stat"></div>
      <div class="stat-info">
        @if (isLoadingStats()) {
          <h3 class="loading">...</h3>
        } @else {
          <h3>{{ totalnb_stage_en_cours() }}</h3>
        }
        <p>Stages en cours</p>
      </div>
    </div>
    <div class="stat-card">
      <div class="stat-icon attente-stat"></div>
      <div class="stat-info">
        @if (isLoading()) {
          <h3 class="loading">...</h3>
        } @else {
          <h3>{{ totalnb_stage_en_attante_vm() }}</h3>
        }
        <p>En Attente de visite médicale</p>
      </div>
    </div>
  </div>
  
  <div class="charts-section">
    
    <div class="chart-card">
    <div style="width:600px; height:400px; margin:auto;" *ngIf="stagiairesTermineParAnnee().length > 0">
  <canvas baseChart
          [data]="lineData()"
          [type]="lineType"
          [options]="lineOptions">
  </canvas>
</div>
</div>
     

    <div class="chart-card">
      <div *ngIf="!isLoadingStats()" style="width:400px; height:400px; margin:auto;">
  <canvas baseChart
          [data]="pieData()"
          [type]="pieType"
          [options]="pieOptions">
  </canvas>
</div>
    </div>
  </div>
  <br>
  <br>
  <!-- Charts in one line: Stagiaires par département and Stages par département -->
  <div class="charts-row">
    <div class="chart-card-half">
      <div style="width:100%; height:400px; margin:auto;">
        <canvas baseChart
                [data]="barData()"
                [type]="barType"
                [options]="barOptions">
        </canvas>
      </div>
    </div>
    
    <div class="chart-card-half">
      <div style="width:100%; height:400px; margin:auto;">
        <canvas baseChart
                [data]="departmentStagesBarData()"
                [type]="departmentStagesBarType"
                [options]="departmentStagesBarOptions">
        </canvas>
      </div>
    </div>
  </div>
</div>